In [35]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)

match_lvl_data = pd.read_csv('./content/664389efa0868_match_level_scorecard.csv')
batsman_lvl_data = pd.read_csv('./content/663e2b548c98c_batsman_level_scorecard.csv')
bowler_lvl_data = pd.read_csv('./content/663e2b2c60743_bowler_level_scorecard.csv')
train_data = pd.read_csv('./content/663e2b6d54457_train_data_with_samplefeatures.csv')
test_data = pd.read_csv('./content/6644a1e287df6_test_data_with_samplefeatures.csv')



match_lvl_data.shape
match_lvl_data.head(2)

batsman_lvl_data.shape
batsman_lvl_data.head(2)

bowler_lvl_data.shape
bowler_lvl_data.head(2)

train_data.shape
train_data.head(2)

test_data.shape
test_data.head(2)




train_data['winner_01'] = train_data.apply(lambda x: 0 if (x['team1']==x['winner']) else 1, axis=1)

(1689, 30)

   match id  team1  team2  ...     series_type winner_id  player_of_the_match_id
0  8638034   Nn Ds  Wn     ...  other_domestic  18570    NaN
1  8588005   Me Rs  Sy Tr  ...  other_domestic  33963     1749075.0

[2 rows x 30 columns]

(24483, 21)

   match id batsman  batsman_id  ... Fours  Sixes    match_dt
0  8638034   KD Ce   7907451.0   ...  1.0  NaN     2021-01-01
1  8638034   TL St   4381761.0   ...  4.0   1.0    2021-01-01

[2 rows x 21 columns]

(18539, 18)

   match id bowler  bowler_id  ... wides  noballs    match_dt
0  8638034   BV Ss  6718396.0  ...  3     1        2021-01-01
1  8638034   HK Bt  1585464.0  ...  2     0        2021-01-01

[2 rows x 18 columns]

(948, 23)

   match id team1  ...  team1_winp_team2_last15 ground_avg_runs_last15
0  9331181   Ba    ...  100.0                    157.178571
1  8797060   Ed    ...  50.0                     103.500000

[2 rows x 23 columns]

(271, 21)

   match id     team1  ...  team1_winp_team2_last15 ground_avg_runs_last15
0  9250275   Jy        ...  0.00                    NaN
1  9262189   Ga An Ws  ...  66.67                    153.5

[2 rows x 21 columns]

In [36]:
%matplotlib inline
from matplotlib import pyplot as plt
import re

def createRnP(X_12, feature, N=5, ylim_lb=0.3, ylim_ub=0.7):
    '''
    Rank and Plot of input feature on the input data. The y-axis shows %team1 wins in each bucket.

    Parameters-
    1. X_12: dataset to build the RnP on.
    2. feature: Feature to build RnP of.
    3. N: number of bins on x-axis. Default 5.
    4. ylim_lb: lower bound of y axis on plot.
    5. ylim_ub: upper bound of y axis on plot.

    Output-
    1. Rank and Plot

    Returns- None
    '''
    df = X_12.copy()
    df[f'{feature}_bin'] = df[feature].rank(pct=True)//(1/N)
    df['count'] = 1
    df['team1_win%'] = df['winner_01'].apply(lambda x: 1-x)
    df['team2_win%'] = df['winner_01'].copy()
    df[f'{feature}_min'] = df[feature].copy()
    df[f'{feature}_max'] = df[feature].copy()
    df_g = df.groupby(f'{feature}_bin').agg({'team1_win%':'mean', 'team2_win%':'mean', 'count':'sum', f'{feature}_min':'min',\
                                            f'{feature}_max':'max'}).reset_index()
    N = min(N,df_g.shape[0])
    blue_bar = df_g['team1_win%'].values.tolist()
    ind = np.arange(N)

    plt.figure(figsize=(10,5))
    plt.bar(ind, blue_bar, label='Team 1 win%')
    plt.axhline(y=0.5, color='r', linestyle='--', label='50% win%')
    plt.ylim(ylim_lb, ylim_ub)
    plt.xlabel(f'{feature} Bins')
    plt.ylabel('% Team1 Win')
    plt.title(f'Rank and Plot for {feature}')
    plt.legend()
    plt.show()

In [37]:

batsman_agg = batsman_lvl_data.groupby('match id').agg({
    'runs': ['sum', 'mean', 'std'],
    'balls_faced': ['sum', 'mean', 'std']
}).reset_index()
batsman_agg.columns = ['match id', 'total_runs', 'avg_runs', 'std_runs', 'total_balls_faced', 'avg_balls_faced', 'std_balls_faced']


bowler_agg = bowler_lvl_data.groupby('match id').agg({
    'runs': ['sum', 'mean', 'std'],
    'wicket_count': ['sum', 'mean', 'std'],
    'balls_bowled': ['sum', 'mean', 'std']
}).reset_index()
bowler_agg.columns = ['match id', 'total_runs_conceded', 'avg_runs_conceded', 'std_runs_conceded', 'total_wickets', 'avg_wickets', 'std_wickets', 'total_balls_bowled', 'avg_balls_bowled', 'std_balls_bowled']


train_data = pd.merge(train_data, batsman_agg, how='left', on='match id')
train_data = pd.merge(train_data, bowler_agg, how='left', on='match id')


test_data = pd.merge(test_data, batsman_agg, how='left', on='match id')
test_data = pd.merge(test_data, bowler_agg, how='left', on='match id')

In [46]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score


categorical_columns = ['team1', 'team2', 'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season']


for col in categorical_columns:
    train_data[col] = train_data[col].astype('category').cat.codes
    test_data[col] = test_data[col].astype('category').cat.codes


X = train_data.drop(['match id', 'winner', 'winner_id', 'winner_01', 'team1_roster_ids', 'team2_roster_ids'], axis=1)
y = train_data['winner_01']


X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)


model = XGBClassifier()


param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [6, 8],
    'learning_rate': [0.1, 0.2],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0]
}


grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1)
grid_search.fit(X_train, y_train)


best_model = grid_search.best_estimator_


y_val_pred = best_model.predict(X_val)
val_accuracy = accuracy_score(y_val, y_val_pred)
print(f"Validation Accuracy: {val_accuracy}")


cv_scores = cross_val_score(best_model, X, y, cv=5, scoring='accuracy')
print(f"Cross-validation Accuracy: {cv_scores.mean()}")

GridSearchCV(cv=5,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, device=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     feature_types=None, gamma=None,
                                     grow_policy=None, importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None,...
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     multi_strategy=None, n_estimators=None,
                                     n_jobs=None, num_parallel_tree=None,
                                     random_state=None, ...),
             n_jobs=-1,
             param_grid={'colsample_bytree': [0.8, 1.0],
                         'learning_rate': [0.1, 0.2], 'max_depth': [6, 8],
                         'n_estimators': [100, 200], 'subsample': [0.8, 1.0]},
             scoring='accuracy')

Validation Accuracy: 0.7947368421052632
Cross-validation Accuracy: 0.8280089111668059

In [47]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score


def create_feature_importance_csv(model, X, filename):
    feature_importances = model.feature_importances_
    features = X.columns
    importance_df = pd.DataFrame({
        'feat_id': np.arange(1, len(features) + 1),
        'feat_name': features,
        'model_feat_imp_train': feature_importances
    })
    importance_df['feat_rank_train'] = importance_df['model_feat_imp_train'].rank(ascending=False)
    importance_df['feat_description'] = 'Description not provided'

    importance_df = importance_df.sort_values(by='model_feat_imp_train', ascending=False).reset_index(drop=True)
    importance_df.to_csv(filename, index=False)
    return importance_df

feature_importance_df = create_feature_importance_csv(best_model, X, 'feature_importance.csv')
print("Feature importance CSV created successfully!")

feature_importance_df.head()

Feature importance CSV created successfully!

   feat_id            feat_name  ...  feat_rank_train          feat_description
0  28       total_wickets        ...  1.0              Description not provided
1  31       total_balls_bowled   ...  2.0              Description not provided
2  29       avg_wickets          ...  3.0              Description not provided
3  22       total_balls_faced    ...  4.0              Description not provided
4  25       total_runs_conceded  ...  5.0              Description not provided

[5 rows x 5 columns]

In [49]:
feature_descriptions = {
    'team_count_50runs_last15': 'Ratio of number of 50s by players in team1 to number of 50s by players in team2 in last 15 games',
    'team_winp_last5': "Ratio of team1's win % to team2's win % in last 5 games",
    'ground_avg_runs_last15': 'Average runs scored in the ground in last 15 games',
    'team1_winp_team2_last15': "Team1's win percentage against Team2 in last 15 games",
    'team1only_avg_runs_last15': "Team1's avg inning runs in last 15 games",
    'toss_winner_01': 'Toss winner to numerical - 1 if team2 wins, else 0',
    'toss_decision_01': 'Toss decision - categorical - 1 if winner bats, 0 otherwise'
}

selected_features = [
    'team2_recent_win_pct', 'team1_recent_win_pct', 'team1_recent_avg_runs',
    'match_dt', 'season', 'team_count_50runs_last15', 'city',
    'team2_recent_avg_runs', 'team2_id', 'team2'
]

def create_feature_importance_csv_with_descriptions(model, X, feature_descriptions, filename):
    feature_importances = model.feature_importances_
    features = X.columns
    importance_df = pd.DataFrame({
        'feat_id': np.arange(1, len(features) + 1),
        'feat_name': features,
        'model_feat_imp_train': feature_importances
    })
    importance_df['feat_rank_train'] = importance_df['model_feat_imp_train'].rank(ascending=False)
    importance_df['feat_description'] = importance_df['feat_name'].map(feature_descriptions)

    importance_df = importance_df.sort_values(by='model_feat_imp_train', ascending=False).reset_index(drop=True)
    importance_df.to_csv(filename, index=False)
    return importance_df

feature_importance_df_with_descriptions = create_feature_importance_csv_with_descriptions(best_model, X, feature_descriptions, 'feature_importance_with_descriptions.csv')
print("Feature importance CSV with descriptions created successfully!")

feature_importance_df_with_descriptions.head()

Feature importance CSV with descriptions created successfully!

   feat_id            feat_name  ...  feat_rank_train  feat_description
0  28       total_wickets        ...  1.0              NaN
1  31       total_balls_bowled   ...  2.0              NaN
2  29       avg_wickets          ...  3.0              NaN
3  22       total_balls_faced    ...  4.0              NaN
4  25       total_runs_conceded  ...  5.0              NaN

[5 rows x 5 columns]